body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p{
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 5px;
}

h1{
  border-left: 8px solid lightcoral;
  padding-left: 5px;
}

main{
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
}

span {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 5px;
}

a {
  color: #00B7FF;
}
