html {
    font-family: arial,sans-serif;
    overflow-x: hidden;
}

body {
    position: absolute;
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

div {
    position: relative;
    display: block;
    height: 10px;
    width: 10px;
    background-color: white;
}

p {
    background-color: #333333;
}

button {
    background: linear-gradient(to bottom, #62a173 5%, #4aab16 100%);
    background-color: #62a173;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    padding: 12px 34px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

button:hover {
    background: linear-gradient(to bottom, #4aab16 5%, #62a173 100%);
    background-color: #4aab16;
}

button:active {
    position: relative;
    top: 1px;
}
